# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Database
*.sqlite3
*.db

# Media and static files
debug.log
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Secrets and configs
*.env
.env.local
config.json
settings_local.py

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# MyPy
dmypy.json
.mypy_cache/

# Celery
celerybeat-schedule

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pipenv
Pipfile.lock

# Jupyter Notebook
.ipynb_checkpoints/

# Node
node_modules/

# Compiled translations
*.mo
